.page.theme_dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --title-color: #000028;
  --title-bg-color: #ff0070;
  --link-color: #ff0070;
  --text-color: #f1b2ce;
  --text-shadow: 4px 4px 0 #ff0070;
  --footer-text-shadow: 2px 2px 0 #ff0070;
  --main-title-color: #db00ff;
}
