.page.theme_dark {
  --accent-color: #ff0070;
  --title-bg-color: #ff0070;
  --link-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --title-color: #000028;
  --text-shadow: 4px 4px 0 #ff0070;
  --footer-text-shadow: 2px 2px 0 #ff0070;
  --main-title-color: #db00ff;
  --menu-button-hover: 1px solid rgba(255, 0, 112, 0.4);
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
 
  .header__rec {
    display: block;
  }

  .content__title {
    color: var(--accent-color);
  }
}

@media (prefers-color-scheme: dark) {
  
  .header__rec {
    display: block;
  }
}

.page.theme_dark .header__rec {
  display: block;
}
