.page.theme_light {
  --accent-color: #353430;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #353430;
  --title-bg-color: #ff8dcb;
  --link-color: #ff8dcb;
  --menu-button-hover: 1px solid rgba(50, 49, 45, 0.4);
  --main-title-color: #ffc2e6;
  --text-shadow: 4px 4px 0 #ff0070;
  --footer-text-shadow: 2px 2px 0 #ff0070;
  color: #353430;
  background-image: url(../images/cover-image-light.png);

  @media (width < 1024px) {
  --text-shadow: 4px 4px 0 #FF8DCB;
}
}

.page.theme_light .header__rec {
    display: none;
}
